<!doctype html>
<html>
  <head>
    <title>Movie Favorites</title>
  </head>
  <body>
    <h1>Favorite Movies</h1>
	<ul>
	  	<% favList.forEach(function (movie) { %>
	    <li>
	    	<a href="<%=movie.link %>"> <%= movie.movie %> </a>
	    </li>
	  	<% }) %>
  	</ul>
  </body>
</html>
